{% extends "layout.html" %}
{% set bodyId = "page-home" %}

<head>
  <title>Ecoleta</title>

  {% block styles %}

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/modal.css">

  {% endblock styles %}

  {% block content %}
    <div class="content">

      <header>
        <img src="/assets/logo.svg" alt="">
        <a href="/create-point">
          <span></span>
          Cadastre seu ponto de coleta
        </a>
      </header>
      <main>
        <h1>Seu marketplace de coleta de resíduos</h1>

        <p>Ajudamos pessoas a encontrar pontos de coleta de forma eficiente</p>

        <a href="#">
          <span></span>
          <strong>Pesquisa pontos de coleta</strong>
        </a>
      </main>
    </div>

  {% endblock content %}

</head>

<body></div>

{% block modal %}
  {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
  <script src="/js/index.js"></script>
{% endblock scripts %}

</body>

</html>